*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    background-color: #eceaea;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    
}
.logo{
    float: left;
    margin-top:10px;
    height: 50px;
    margin-right: 30px;
    border-radius: 5px;
}
.container{
    
    width: 100%;
    padding: 0 20%;
    background-color: #6A13E7;
    height: 80px;
    opacity: .9;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    position: fixed;
}
nav a:hover{
    color: rgb(160, 169, 184);


}


nav ul{
    padding-top: 25px;
}


nav a:hover::before{
    width: 80%;
}
header ::after{
    content:'';
    
    clear: both;
}
ul li{
    
    list-style: none;
    display: inline;
    padding: 0 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    position: relative;
   
    
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    transition: 250ms;
    letter-spacing: 2px;
    
}
nav a::before{
    content: '';
    
    height: 3px;
    top:-3px;
    width: 0%;
    position: absolute;
    background-color: rgb(160, 169, 184);
    transition: all ease-in-out 250ms;
}
.burger{
   
    margin-top: 17px;
    margin-right: 10px;
    float: right;
    border: 1px solid rgb(160, 169, 184);
    border-radius: 3px;
    padding:3px;
    display: none;

}
.burger div{
    width: 20px;
    height: 3px;
    margin: 10px ;
    background-color: rgb(160, 169, 184);
    margin: 3px;
}
.fajlovi{
    width: 80%;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(96, 94, 94);
}
.fajl{
    box-shadow: -1px 0 10px 0 #b3b3b3;
    border-radius: 5px;
    padding: 1rem;
}
.fajlovi h3{
    font-size: 1.3rem;
    font-weight: 300;
}
.fajl a{
    text-decoration: none;
    color: rgb(96, 94, 94);
    font-size: 1.3rem;
}
footer{
    
    background-color: #6815dd;
    
   
}
.footer{
   
    text-align: center;
    padding: 1rem;
    background-color: #4e12a2;
    width: 100%;
}
.footer a{
    text-decoration: none;
    color: #fff;
    
    font-size: 1.2rem;
    transition: .4s;
    letter-spacing: 1px;
    
}
.footer a:hover{
    color:rgb(160, 169, 184) ;
}
.footer a i{
    color: rgb(41, 79, 169);
    font-size: 1.7rem;
}
.lokacija{
    
    margin: 3rem ;
}
.lokacija iframe{
    width: 80%;
    height: 500px;
    min-height: 150px;
   
}
.lok{
    display: flex;
    justify-content: center;
}
.lokacija h1{
   color: #6815dd;
    text-align: center;
    margin-bottom: 1rem;
}
.sadrzaj{
    font-size: 18px;
    color: #fff;
    width: 80%;
    text-align: center;
    margin:  auto;
    

}
.sadrzaj h3 span{
    color: rgb(243, 241, 241);
}
#onama{
    background-color: hsl(82, 64%, 48%);
    padding: 4rem ;
    
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 3px;

}
#onama h3{
    font-weight: 200;
}
#onama h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #6815dd;
}
#pocetna h1{
    margin-top: 3rem;
    color: #6815dd;
    text-align: center;

}
.footer-grid{
    width: 100%;
    display: grid;
    grid-template-columns:50% 50%;
    padding: 2rem;
}
.sek1, .sek2{
    text-align: center;
    margin: 1rem;
    color: #fff;
}
.sek1 a,.sek2 a{
    text-decoration: none;
    color: #fff;
}
.sek1 h2, .sek2  h2{
    color: hsl(82, 64%, 48%);
    font-weight: 500;
    text-transform: uppercase;
}
.naslov {
    max-width: 500px;
    padding: .5rem;
    min-width: 50px;
}

.fajl embed{
    width: 300px;
    height: 400px;
    
}
@media screen and (max-width:850px) {
    
    .nav-menu{
        
        position: absolute;
        right: 0;
        top: 60px;
        width: 40%;
        height: 94vh;
        background-color:#6A13E7;
        transition: transform 0.5s ease-in;
        transform: translateX(100%);
    }
    nav ul li{
        display: table;
        margin:40px auto;
       
        
    }
    .nav-menu li a{
        font-weight: 500;
        
    }
   
    
    .logo{
        position: relative;
        margin-left: 0;
        padding-left: 0;
    }

    .burger{
        display: block;
    }
    .container{
        display: block;
        padding: 0 30px;
    }
    .footer-grid{
        grid-template-columns: 100%;
    }
    .telefon{
        display: inherit!important;
    }
    #onama {
        
        padding:2rem 0!important;


    }
    #lokacija{
        margin: 2rem 0;
    }
    #onama h3{
        text-align: justify;
        font-size: 1rem;
    }
}

.nav-active{
    transform: translateX(0%);
    
}
.telefon{
    position: absolute;
    right: 40px;
    bottom:30px;
    position: fixed;
    font-size: 2rem;
    width: 60px;
    height: 60px;
    display: none;
    

}
.telefon i{
    color: #fff;
    background-color: rgb(18, 154, 45);
    padding: 14px;
    border-radius: 50%;
    

    
}
